<nav>
    <div class="site-title">
      <a href="/"><h1 class="mainLink">Patient's portal</h1></a>
    </div>
    <ul  style="border: 2px solid gray;">
      <li><a href="/allPatients">Get All Patients Details</a></li>
      <li><a href="/insert">New Patients</a></li>
      <li><a href="/getDetails">Get Patient Detail</a></li>
      <li><a href="/update">Update Details</a></li>
    </ul>

    <h2 style="color: lightpink; text-align: center;"> <%= mainTitle %></h2>
</nav>