<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/linkNav.ejs") %>

    <h2 style="text-align: center;"> <%= mainContent %> </h2> 

  <%- include("./partials/footer.ejs") %> 
</body>
</html>